{% extends 'base.html' %}
{% block 'title' %}Delete Category{% endblock %}
{% block 'content' %}


    <h2>Are you sure you want to delete the <strong>{{ category }}</strong> category?</h2>
    <p>This action cannot be undone and will delete any and all items belonging to this category.</p>

    <form action="{% url 'inventory:deletecategory' category.id %}" method='post'>
    {% csrf_token %}

        {{ form }}
        <input type="submit" value="Delete Category">
￼

    </form>



{% endblock %}