{% extends 'base.html' %}

{% block title %} Call Logs {% endblock %}

{% block content %}
<div class = "row">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-6">
        <table class="table">
            <tr>
                <th> Name </th>
                <td> {{ contact.first_name }} {{ contact.last_name }} </td>

            </tr>

            <tr>
                <th> Phone: </th>
                <td> {{ contact.phone }} </td>
            </tr>

            <tr>
                <th> Email: </th>
                <td> {{ contact.email }} </td>
            </tr>

            <tr>
                <th> Company </th>
                <td> {{ contact.company }} </td>
            </tr>

            <tr>
                <th> Address </th>
                <td> {{ contact.address1 }} <br>
                {% if contact.address2 %}
                    {{ contact.address2 }} <br>
                {% endif %}

                {{ contact.city }}, {{ contact.state }} {{ contact.zipcode }} <br>
                {% if contact.country %}
                    {{ contact.country }} <br>
                {% endif %}
                </td>
            </tr>

        </table>



    </div>
<div class = "col-lg-3"></div>
</div>

     <div class = "row">

    <div class = "col-lg-3"></div>
         <div class = "col-lg-2"><a href="{% url 'CRM:contactedit' contact.id %}"><button class = "btn"> Edit </button></a></div>
         <div class = "col-lg-2"><a href="{% url 'CRM:contactdelete' contact.id %}"><button class = "btn"> Delete </button></a></div>
         <div class = "col-lg-2"><a href="{% url 'CRM:contactlist'%}"><button class = "btn"> Back </button></a></div>
     <div class = "col-lg-3"></div>

    </div>

{% endblock %}