{% extends 'base.html' %}
{% block title %}CRM Dashboard{% endblock %}
{% block extrascripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);
        var options = {
          // title: 'My Daily Activities'
          // legend: 'none',
          is3D: true,
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Upcoming Reminders
                        <span class="text-right pull-right">
                            <a href="{% url 'CRM:reminderlist' %}" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Reminders"></a>
                        </span>
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Opportunity</th>
                        <th>Note</th>
                        <th>Due Date</th>
                    </tr>
                    <tr>
                        <td><a href="#">Wiley Coyote</a></td>
                        <td>Inquire about rocket kit...</td>
                        <td>1 Dec 2015</td>
                    </tr>
                    <tr>
                        <td><a href="#">Bugs Bunny</a></td>
                        <td>When duck season comes around,...</td>
                        <td>2 Dec 2015</td>
                    </tr>
                    <tr>
                        <td><a href="#">Marvin the Martian</a></td>
                        <td>Opportunity rover avoidance followup</td>
                        <td>7 Dec 2015</td>
                    </tr>
                </table>
                    <div class="pull-right">
                    <a href="{% url 'CRM:reminderadd' %}" class="btn btn-primary btn-fab btn-raised mdi-content-add-box text-right" title="Create New Reminder"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Newest Opportunities
                        <span class="text-right pull-right">
                            <a href="{% url 'CRM:opportunitylist' %}" class="btn btn-info btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Opportunity</th>
                        <th>Stage</th>
                        <th>Value</th>
                        <th>Creation Date</th>
                    </tr>
                    <tr>
                        <td><a href="#" class="text-info">Wiley Coyote</a></td>
                        <td>Proposal Sent</td>
                        <td>$23,273</td>
                        <td>1 Nov 2015</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="text-info">Desert Sands, Inc.</a></td>
                        <td>Lead</td>
                        <td>$3,830</td>
                        <td>31 Oct 2015</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="text-info">Dixie State University</a></td>
                        <td>Contract Accepted</td>
                        <td>$2,281</td>
                        <td>30 Oct 2015</td>
                    </tr>
                </table>
                        <div class="pull-right">
                        <a href="{% url 'CRM:opportunityadd' %}" class="btn btn-info btn-fab btn-raised btn-sm mdi-content-add-box text-right" title="Create New Opportunity"></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Opportunities By Stage
                </div>
                <div class="panel-body">
                    <div id="piechart" style="height: 500px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Top Producers
                        <span class="text-right pull-right">
                            <a href="#" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Leaders"></a>
                        </span>
                </div>
                <div class="panel-body">
                    <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Opportunities Closed</th>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>Jane Doe</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Johnny Smith</td>
                        <td>14</td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}