{% extends 'base.html' %}

{% block title %} Call Logs {% endblock %}

{% block content %}

        <table class="table">
            <tr>
                <th> Name </th>
                <th> Order </th>
                <th> Value </th>
                <th> Description </th>
                <th></th>
            </tr>
            {% for stage in stage_list %}
                <tr>
                    <td> {{ stage.name }}</td>
                    <td> {{ stage.order }}</td>
                    <td> {{ stage.value }}</td>
                    <td> {{ stage.description }}</td>
                    <td><a class="btn" href="{% url 'CRM:stage_update' stage.id %}"> Edit </a></td>
                </tr>

    {% endfor %}
        </table>

    <a class="btn" href="{% url 'CRM:stage_create' %}"> Add Stage </a>
{% endblock %}