{% extends 'base.html' %}

{% block title %}My Punches{%endblock%}

{% block content %}
<h1>My Punches</h1>

<hr>

<table class="table">
<thead>
<tr>
    <th>Project</th>
    <th>Clock In Time</th>
    <th>Clock Out Time</th>
    <th>Duration</th>
    <th>Notes</th>
</tr>
</thead>
<tbody>
{% for punch in punch_list %}
<tr>
    <td>{{ punch.project.title }}</td>
    <td>{{ punch.time_in }}</td>
    <td>{{ punch.time_out }}</td>
    <td>{{ punch.duration }}</td>
    <td>{{ punch.note }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="5">
        Sorry, no time card entries match your search. Either get to work or broaden your search.
    </td>
</tr>
{% endfor %}
</tbody>
{% if punch_list %}
<tfoot>
    <tr>
        <td colspan="3" style="text-align:right;">Total Time:</td>
        <td>{{ total_time }}</td>
        <td></td>
    </tr>
</tfoot>
{% endif %}
</table>

<!-- Pagination goes here -->
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}

